@CHARSET "UTF-8";

/* @file style_vivian.css
 * General styles for Nitobe_vivian, subtheme of Nitobe. http://drupal.org/projects/nitobe
 *
 * $Id
 */

/* ****************************************************************************
 * Anchor links
 * ************************************************************************* */
a:focus {
	outline: #ccc 2px dotted;
}

/* ****************************************************************************
 * Breaks and alignments
 * ************************************************************************* */
.rule-top {
  background: #fff;
  border-top: 0;
}

/* ****************************************************************************
 * Header area
 * ************************************************************************* */
#page-headline {
  text-transform: none;
}

#page-headline h1#page-title {
  text-transform: none;
}

#header-area #title-group #site-title {
  text-transform: none;
}

#header-area #title-group #site-title a {
  text-transform: none;
}

/* ****************************************************************************
 * Primary tabs and navigation
 * ************************************************************************* */

/* Suckerfish dropdown menus  */

ul#primary-nav li {
  position: relative;
  padding: 0 .5em;
}

ul#primary-nav li ul {
  display: none;
}

ul#primary-nav li:hover ul {
  display: block;
  position: absolute;
  z-index: 1;
  background: #ddd url(../../nitobe/styles/images/background-light.gif) repeat;
  top: 1.7em;
  width: 8em;
}

/* ****************************************************************************
 * Nodes
 * ************************************************************************* */

.node .node-headline h2 {
  text-transform: none;
}
